<%= stylesheet_link_tag "productions" %>
<%= stylesheet_link_tag "contact" %>
<div id="container">
  <div id="classify">
  </div>
  <div id="how_show">
  </div>
  <div id="content">
    <p>手机:1350695894</p>
    <p>座机:021-52354569</p>
    <p>邮箱:6598545454@qq.com</p>
    <p></p>
  </div>
</div>
