#container{
  position: relative;
}
#classify{
  position: relative;
  background: gold;//*burlywood;
  width: auto;
  height: 40px;
}
#how_show{
  float:absolute;
  background: #F7F7F7;
  left: 0px;
  width:230px;
  height: 1000px;
}
#content{
  background: beige;
  position: absolute;
  top: 40px;
  left: 230px;
  width: 800px;
  height: 1000px;
}