// Place all the styles related to the productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#classify{
  background: burlywood;
  width: auto;
  height: 40px;
}
#how_show{
  background: bisque;
  float:left;
  width:300px;
  height: 1000px;
}