// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.register{
    width: 420px;
    margin:0 auto;
}
.login_top {
    width: auto;
    border-bottom: 1px solid #ff6c1e;
    padding: 15px 0 10px;
    height: 23px;
    margin: 0 20px;
}
.login_top li {
    padding: 0 50px 0 10px;
    margin: 0;
    float: left;
}
ul, ul li, p {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.register table {
    width: atuo;
    margin-left:0px;
}
.required {
    color: #bb0000;
}
.ipt_box td {
    text-align: right;
}
.ipt_box div {
    text-align: left;
}
.ipt_box label{
    width:100%;
    text-align: right;
    color: #444;
    font-size:15px;
}
.position_button{
  margin-left: 150px;
  float:left;
}

.register_button{
    background:#fff url("pic_button01.gif") left top no-repeat;
    height: 42px;
    width:80px;
    padding:0px 0px 0px 3px;

    display:inline-block;
    overflow:hidden;
    font-size:14px;
}
.register_button input {
    background:#fff url("pic_button01.gif") right top no-repeat;
    height:42px;
    margin:0px;
    border:none;
    padding:0px 10px 0px 7px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
    width:80px;
    overflow:visible;
    cursor: pointer;
}

#divName_info {
  width:auto;
}
.txt2_bg {	border:1px solid #A0B4C5;
  height:22px;width:220px;
  line-height:22px;
  font-size:14px;}
.txt1_bg {border:1px solid #727272;
  height:22px;width:220px;
  background-color:#FFFBD5;
  font-size:14px;
  line-height:22px;}